<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Welcome to RMS<img src="/static/parrotdad.gif"></h1>
    <h1>Subsystem Links</h1>
    <ul>
        <li><a href="/admissions/">Admissions</a></li>
        <li><a href="/courses/">Courses</a></li>
        <li><a href="/financial-aid/">Financial Aid</a></li>
        <li><a href="/registrar/">Registrar</a></li>
        <li><a href="/reservations/">Reservations</a></li>
    </ul>
</body>
</html>