<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h1>Welcome to the Financial Aid Subsystem<img src="/static/gentlemanparrot.gif"> </h1>
    <p>Your current tuition balance is: {{ balance }}</p>
    {% if payment_success %}
        <p>Thank you for submitting a payment of {{ amount }}</p>
        <p>Your new balance is: {{ balance }}</p>
        <p><a href="/financial-aid/">Make another payment</a></p>
    {%  else %}
        <ul>
            <form enctype="multipart/form-data" action="/financial-aid/" method="post">
                {% for field in form %}
                    <li>{% raw field.label %}&nbsp;{% raw field %}</li>
                {% end %}
                <input type="submit"/>
            </form>
        </ul>
    {% end %}
    <p><a href="/">Home</a></p>
</body>
</html>