<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <style type="text/css">
    .container {
        width: 500px;
        clear: both;
    }
    .container input {
        width: 50%;
        clear: both;
    }

    </style>
    <script>
        var sendHeartBeats = true;
        function sendHeartBeat() {
            if (sendHeartBeats) {
                ws.send("Financial Aid Heartbeat");
                setTimeout(sendHeartBeat, 1000);
            }
        }

        ws = new WebSocket("ws://localhost:8888/heartbeat");
        ws.onopen = sendHeartBeat;
        ws.onmessage = function(event){
            if (event.data == "stop"){
                sendHeartBeats = false;

                document.write("Financial Aid is currently down, switching process ...");
            }

            if (event.data == "start"){
                sendHeartBeats = true;
                location.reload();
            }
        }
    </script>
</head>
<body>
    <h1>Welcome to the Financial Aid Subsystem<img src="/static/gentlemanparrot.gif"> </h1>
    <p>Your current tuition balance is: ${{ balance }}</p>
    <form action="" method="post">
        <p> Make a payment here: <button type="submit" value="true" name="make_payment">Make a Payment</button></p>
    </form>
    {% if payment_success %}
        <p>Thank you for submitting a payment of ${{ amount }}</p>
    {%  elif make_payment %}
            <div class="container">
                <form name="paymentForm" enctype="multipart/form-data" action="/financial-aid/" method="post">
                    {% for field in form %}
                        {% raw field.label %} <br>
                        {% raw field %}
                        <p></p>
                    {% end %}
                    <br>
                    <input type="submit"/>
                </form>
            </div>
    {% end %}
    <p><a href="/">Home</a></p>
</body>
</html>